.card{
    display: flex;
    margin: 50px;
    padding: 10px;
    float: left;
    height: 500px;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)
}
.price{
    font-size: 25px;
    font-weight: bold;
    color: darkseagreen;
}
.primary{
    color: black;
}
.card-container{
    border-left: 3px solid lightgrey;
}
